.app-header {
    // padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #026AA7;
    height: $app-header-height;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem;
    color: $clr-base-1;

    .main-header-search{
        margin-inline-end: 1em;
        height: 32px;
        width: 100%;
        padding: 0px 12px 0px 30px;
        outline: none;
        border-radius: 5px;
        font-size: 14px;
        line-height: 20px;
        border: 1px solid $clr-dynamic-button;
        box-shadow: none;
        background-color: $clr-dynamic-button;
    }


    .icon {
        height: 20px;
        margin-inline-end: 4px;
    }

    .profile {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        padding: 4px;
        display: grid;
        align-content: center;
        justify-content: center;
        transition: background-color .1s;

        &:hover {
            background-color: #091e4269;
        }

        .profile-img {
            border-radius: 50%;
            height: 24px;
            width: 24px;
            line-height: 24px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(/src/assets/imgs/tomer-profile.png);
        }
    }

    .router-logo {
        border-radius: 3px;
        padding: 0 6px;
        transition: background-color .1s;

        &:hover {
            background-color: #091e4269;
        }
    }

    .main-header-logo {
        width: 76px;
        height: 31px;

        &::before {
            content: '';
            background-image: url(/src/assets/imgs/logo.gif);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: block;
            top: 0;
            width: 100%;
            height: 100%;
        }


    }

}