.board-index {
    justify-items: start;
    h1{
        margin-block-start: em(24px);
        margin-block-end: em(24px);
    }
}

.board-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 160px);
    
    
    // @include mq(boardIndexBreak1) {
    //     grid-template-columns: repeat(4, 1fr);
    //         }
    li {
        border: 1px solid black;
        height: 96px;
        border-radius: 3px;
        width: 100%;
    }
}