.board-details {
  display: flex;
  flex-direction: row;
  height: calc(100% - $app-header-height);
  flex-wrap: nowrap;
  // width: 100%;
  background-position: 50%;
  background-size: cover;

  .board-header {
    background-color: inherit;
    padding: rem(4px) rem(4px) rem(4px) rem(9px);
    width: 100%;
    flex-wrap: wrap;

    h1 {
      color: $clr6;
      padding-inline: rem(12px);
      font-family: sans-serif;
    }

    .title-input {
      font-size: 18px;
      font-weight: 700;
      line-height: 32px;
      padding: 0 12px 0 8px;
      max-width: max-content;
      margin-inline-end: em(24px);
      margin-inline-start: em(4px);
    }

    .btn-header-star {
      @include btn-main($clr-dynamic-button, $clr-base-1, $clr-dynamic-button);
      @include trello-icon($icon-star, $type: sm, $color: $clr-base-1);
      padding-inline: rem(8px);

      &:hover::before {
        color: $clr-dynamic-star;
        scale: 1.5;
      }

      &.starred::before {
        color: $clr-dynamic-star;
        content: $icon-full-star;
      }

      &.starred:hover::before {
        color: $clr-dynamic-star;
        content: $icon-star;
      }
    }

    .separate-line {
      border-left: 1px solid $clr-dynamic-text-transparent;
      float: left;
      height: em(16px);
      margin: em(12px) em(8px);
    }

    .right-side-header {
      flex-wrap: wrap;
    }

    .btn-share {
      @include btn-main($clr-base-1, $clr-base-5, $clr10);
      display: flex;
      gap: 5px;
      align-items: center;
      margin-inline-start: 5px;
      padding: 0px 8px 0px 4px;
      height: 31px;

      i {
        height: 45%;
      }
      .dashboard {
        svg {
          width: 100%;
          padding-bottom: 6px;
        }
      }
      span {
        height: fit-content;
        font-size: 14px;
      }
    }

    .board-members {
      @include board-members();
    }

    .btn-filter {
      @include btn-main(rgba(255, 255, 255, 0.2), $clr-base-1, rgba(255, 255, 255, 0.3));
      position: relative;
      gap: 6px;
      padding-inline-start: em(42px);
      margin-inline-start: em(8px);

      .filter-icon {
        width: rem(16px);
        height: rem(16px);
        position: absolute;
        left: em(12px);
        top: em(10px);
      }

      .btn-filter-clear {
        @include trello-icon($icon-close);
        display: flex;
        align-items: center;
        color: $clr-base-1;
        background-color: $clr-transparent;
        cursor: pointer;
        padding: 0;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .btn-record {
      @include btn-main(rgba(255, 255, 255, 0.2), $clr-base-1, rgba(255, 255, 255, 0.3));
      position: relative;
      gap: 6px;
      padding-inline-start: em(42px);
      margin-inline-start: em(8px);

      .filter-icon {
        width: rem(16px);
        height: rem(16px);
        position: absolute;
        left: em(12px);
        top: em(10px);

        &.active {
          svg {
            fill: red;
            animation: blinking .5s alternate infinite
          }
        }

        @keyframes blinking {
          0%   {opacity: 1;}
          100% {opacity: 0;}
        }
      }

      .btn-filter-clear {
        @include trello-icon($icon-close);
        display: flex;
        align-items: center;
        color: $clr-base-1;
        background-color: $clr-transparent;
        cursor: pointer;
        padding: 0;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .three-dot-btn {
      @include btn-main(rgba(255, 255, 255, 0.3), $clr-base-1, $clr-base-1);
      @include trello-icon($icon-three-dots, $type: md, $color: $clr-base-1);
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: inherit;
      }
    }
  }

  .main {
    flex: 1 1 0%;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}