.board-preview {
  // flex-direction: column;
  // padding: 8px;
  position: relative;
  background-position: 50%;
  background-size: cover;

  a {
    text-decoration: none;
  }

  .container {
    height: 100%;
  }

  .board-title {
    font-size: em(16px);
    color: $clr6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
  }

  &:hover {
    .btn-star-toggle {
      transition: all 0.2s ease;
      opacity: 1;
      bottom: 6px;
    right: 6px;
    }
  }

  .btn-star-toggle {
    opacity: 0;
    // display: none;
    background-color: $clr-transparent;
    cursor: pointer;
    @include trello-icon($icon-star, $type: sm, $color: $clr-base-1);
    font-size: 14px;
    padding-inline: rem(8px);
    transition: all 0.2s;
    position: absolute;
    bottom: 6px;
    right: -6px;

    &:hover {
      scale: 1.2;
    }

    &.starred {
      opacity: 1;
      bottom: 6px;
    right: 5px;
    }

    &.starred::before {
      color: $clr-dynamic-star;
      content: $icon-full-star;
    }

    &.starred:hover::before {
      //   color: $clr-dynamic-star;
      scale: 1.5;
      content: $icon-star;
    }
  }
}
