.board-details {
    display: flex;
    flex-direction: column;
    height: 100%;

    .board-header {
        background-color: inherit;
        height: 3em; // need to remove
        h1 {
            color: $clr6
        }
    }

    

}