.task-Checklist {
  @include TaskDetailsCmps($icon-checklist);
  .icon {
    &::before {
      left: em(8px);
    }
  }
  grid-column: span 2;
  display: grid;
  grid-template-columns: $task-details-content-grid;
  & > *:not(.checklist-item, .progress-bar) {
    grid-column: 2;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  .progress-bar {
    display: grid;
    grid-template-columns: $task-details-content-grid;
    justify-items: center;
    height: em(8px);
    margin: 6px 0;
    position: relative;
    span {
      font-size: em(11px);
      line-height: em(10px);
      text-align: center;
      width: em(32px);
      position: absolute;
      top: -1px;
      left: em(12px);
    }
    .progress-bar-container {
      grid-column: 2;
      height: em(8px);
      width: 100%;
      background-color: $clr8;
      border-radius: 555px;
    }
    .progress-bar-percent {
      height: inherit;
      background-color: $clr-label-blue;
      border-radius: 555px;
      transition-delay: 0.2s;
      transition-duration: 0.14s;
      transition-property: width, background-color;
      transition-timing-function: ease-in;
      width: 0;
    }
  }

  .checklist-item {
    position: relative;
    display: grid;
    grid-template-columns: $task-details-content-grid;
    align-content: center;
    grid-column: span 2;
    width: 100%;
    border-radius: 4px;
    padding: em(6px) 0;
    min-height: em(36px);
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: $clr-base-3;
      & .checklist-archive {
        opacity: 1;
      }
    }
    h3 {
      color: $clr-base-5;
      font-size: em(14px);
      font-weight: 400;
      &.checked {
        text-decoration: line-through;
        color: $clr-base-4;
      }
    }

    .check-box {
      justify-self: center;
      margin-inline-end: em(6px);
      box-shadow: $box-shadow-checkbox;
      height: em(16px);
      width: em(16px);
      position: relative;
      border-radius: 2px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      transition: 0.5s;
      &.checked {
        background-color: $clr-base-8;
        box-shadow: none;
        @include trello-icon($icon-checked, $color: $clr-base-1);
        &::before {
          position: absolute;
          height: em(16px);
          width: em(16px);
          top: -6px;
        }
      }
      &:active {
        box-shadow: $box-shadow-checkbox-active;
      }
    }

    .checklist-archive {
      @include trello-icon($icon-archive);
      border-radius: $border-radius-3;
      text-align: center;
      position: absolute;
      right: 7px;
      top: 5px;
      width: em(24px);
      opacity: 0;
      &:hover {
        background-color: $clr-base-3-hover;
      }
    }
  }
  .btn-add-item {
    @include btn-main();
    justify-self: start;
    margin: em(8px) 0;
  }
  .btn-remove-checklist {
    @include btn-main();
    justify-self: start;
    margin: em(8px) 0;
  }

  .checklist-editor {
    input {
      @include input();
    }
  }
  .item-editor {
    input {
      @include input();
      background-color: $clr8;
      &:focus {
        box-shadow: none;
        border-color: $clr-base-9;
        box-shadow: inset 0 0 0 1px $clr-base-9;
      }
    }
  }

  .btn-add {
    @include btn-main($clr-base-8, $clr-base-1, $clr-base-8-hover);
  }

  .btn-cancel {
    @include btn-main($clr-base-2, $clr-base-5, $clr-base-3-hover);
  }
  .close-item-edit {
    @include trello-icon($icon-close, lg);
    cursor: pointer;
    background-color: none;
    &:hover &::before{
        color: $clr-base-3-hover;
      }
  }

  .add-cancel {
    margin: 8px 0 0;
    gap: 4px;
  }
}
