.label-picker {
  display: flex;
  flex-direction: column;
  .search-input {
    @include input()
  }

  h3{
    margin: rem(12px) 0 rem(8px);
    font-size: em(12px);
    color: $clr9;
    font-weight: 600;
  }

  .label-picker-ops {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-block: em(2px);

    .btn-marker-edit {
      padding: em(8px);
      background-color: $clr-base-1;
      color: $clr-base-4;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background-color: $clr-base-3;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }

    .btn-label-tag {
      width: 212px;
    }

  }
}
