.left-side-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: $clr-base-1;
  min-width: 16px;
  min-height: 100%;

  transition: 0.3s ease-in-out;

  border-right: 1px solid $side-bar-border;

  .open-side-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    left:3px;
    top:53px;
    margin:0;
    padding:0;
    border:1px solid rgba($color:#cbc6c6, $alpha: 0.15);
    // backdrop-filter: blur(16px)



  }
  &.isExpended {
    min-width: em($side-bar-width);
    transition: 0.3s ease-in-out;
    .open-side-bar{
      opacity: 0;
    }
    &[title]:hover::after{
      opacity: 0;
    }
  }

  &:not(.isExpended):hover {
    background-color: $side-bar-hover !important;
    .open-side-bar{
      background-color: $side-bar-hover !important;
      border:1px solid rgba($color:#cbc6c6, $alpha: 0.8);
      transition: 0.3s ease-in-out;
      cursor: pointer;

    }
    cursor: pointer;

  }

  .close-menu {
    width: em(32px);

    &:hover {
      cursor: pointer;
      scale: 1.4;
      transition: 0.3s;
    }
  }

  .left-side-header {
    justify-content: space-between;
    align-items: center;
    height: em(72px);
    padding: em(14px) em(12px);
    border-bottom: 1px solid $side-bar-border;

    .workspace-logo {
      align-items: center;
      justify-content: center;

      width: em(32px);
      height: em(32px);
      font-weight: bold;
      font-size: em(20px);

      border-radius: $border-radius-3;

      background: $clr-merllo-workspace-logo;
    }
    .title{
      font-size: 14px;
    }
  }

  
  .left-side-bar-title {
    padding: em(12px);
  }

  .router-link-active {
    background-color: $side-bar-border;
  }

  .board-select {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 36px;
    padding: 2px 0px 2px 8px;
    font-size: 14px;

    &:hover {
      background-color: $side-bar-hover;

      .star-icon {
        opacity: 1;
      }
    }

    .star-icon {
      @include trello-icon($icon-star, $type: sm, $color: inherit);

      cursor: pointer;
      background-color: transparent;
      transition: all 0.1s;

      opacity: 0;

      &:hover {
        scale: 1.2;
      }

      &.starred::before {
        color: $clr-base-1;
        content: $icon-full-star;
      }

      &.starred:hover::before {
        content: $icon-star;
      }

      &.starred {
        opacity: 1;
      }
    }

    .board-image {
      background-position: 50%;
      background-size: cover;
      width: em(24px);
      height: em(24px);
      margin-inline-end: 8px;
      border-radius: $border-radius-3;
      border: 1px solid $side-bar-image-border;
    }
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  &[title]:hover::after {
    transition: all 0.1s ease 0.1s;
    visibility: visible;
    content: 'Expand sidebar';
    background-color: #172b4d;
    color: $clr-base-1;
    font-size: 12px;
    position: fixed;
    padding:  2px 6px;
    left: 20px;
    top:30px;
    white-space: nowrap;
    z-index: 1000;
  }
}
