.left-side-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  min-width: 16px;
  min-height: 100%;

  transition: 0.3s ease-in-out;


  border-right: 1px solid $side-bar-border;

  &.isExpended {
    min-width: em($side-bar-width);
    transition: 0.3s ease-in-out;
  }

  &:not(.isExpended):hover {
    background-color: $side-bar-hover !important;
  }

  .close-menu {
    width: em(32px);

    &:hover {
      cursor: pointer;
      scale: 1.4;
      transition: .3s;
    }
  }

  .left-side-header {
    justify-content: space-between;
    align-items: center;
    height: em(72px);
    padding: em(14px) em(12px);
    border-bottom: 1px solid $side-bar-border;


    .workspace-logo {
      align-items: center;
      justify-content: center;

      width: em(36px);
      height: em(36px);
      font-weight: bold;
      font-size: em(20px);

      background: $clr-merllo-workspace-logo;
    }
  }

  .left-side-bar-title {
    padding: em(12px);
  }

  .router-link-active {
    background-color: $side-bar-border;
  }


  .board-select {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 36px;
    padding: 2px 0px 2px 8px;
    font-size: 14px;

    &:hover {
      background-color: $side-bar-hover;

      .star-icon {
        opacity: 1;
      }
    }

    .star-icon {
      @include trello-icon($icon-star, $type: sm, $color: inherit);

      cursor: pointer;
      background-color: transparent;
      transition: all .1s;

      opacity: 0;

      &:hover {
        scale: 1.2;
      }

      &.starred::before {
        color: $clr-base-1;
        content: $icon-full-star;
      }

      &.starred:hover::before {
        content: $icon-star;
      }

      &.starred {
        opacity: 1;
      }

    }

    .board-image {
      width: em(24px);
      height: em(24px);
      margin-inline-end: 8px;
      border-radius: $border-radius-3;
      border: 1px solid $side-bar-image-border;
    }

  }



  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}