.login-signup {
  width: em(400px);
  background-color: red;
  text-align: center;
  padding: em(32px) em(40px) em(32px) em(40px);
  display: flex;
  flex-direction: column;
  margin: auto auto;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;

  form {
    .asterisk {
      color: $clr-base-20;
    }
    .btn-create {
      @include btn-main($bgc: $clr-base-8, $color: $clr-base-1, $bgc-hover: $clr-base-8-hover);
      width: 100%;
    }
    input {
      width: 100%;
      height: rem(36px);
      padding: rem(8px) rem(6px);
      border: none;
      margin-block-start: 0;
      border-radius: $border-radius-3;
      background-color: $input-bgc;

      border: none;
      box-shadow: inset 0 0 0 2px $input-border-clr;
      &.validRequired {
        box-shadow: inset 0 0 0 2px $clr-base-20;
      }
      &:focus {
        box-shadow: inset 0 0 0 2px $clr-base-8;
        &:hover.validRequired {
          box-shadow: inset 0 0 0 2px $clr-base-20;
        }
      }
    }
  }
}
