.right-side-bar {
  display: flex;
  flex-direction: column;
  position: relative;

  transition: 1s ease-in-out;
  color: $clr-base-23;

  &.isExpended {
    width: em($right-side-bar-width);
    background-color: $clr-base-2;
    min-height: 100%
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  .menu-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    .close-menu {
      @include trello-icon($icon-close, $type: sm, $color: $clr-base-4);
    }
  }

  .right-menu-header {
    border-bottom: 1px solid $clr-base-22;
    margin: 0 6px 0 12px;
  }

  .board-nav-item{
    align-items: flex-start;
    padding-top:2px;
  }


  .main-content {
    display: grid;
    row-gap: 8px;
    grid-template-columns: 10% 90%;
    padding: 12px 6px 8px 12px;
    border-bottom: 1px solid $clr-base-22;
    margin: 0 6px 0 12px;


    h5{
      font-weight: 500;
    }

    
    .board-image {
      width: em(18px);
      height: em(18px);
      border-radius: $border-radius-3;
      border: 1px solid $side-bar-image-border;
    }
  }
}