.right-side-bar {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  overflow-y: scroll;
  // overflow-x:hidden;

  transition: 1s ease-in-out;
  color: $clr-base-23;

  &.isExpended {
    width: em($right-side-bar-width);
    background-color: $clr-base-2;
    max-height: 100vh;
  }

  p {
    margin: 0;
    font-size: 14px;
  }

  .menu-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    .close-menu {
      @include trello-icon($icon-close, $type: sm, $color: $clr-base-4);
    }

    .back {
      cursor: pointer;
    }
  }

  .right-menu-header {
    border-bottom: 1px solid $clr-base-22;
    margin: 0 6px 0 12px;
  }

  .board-nav-item {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: flex-start;
    padding: 6px;
    border-radius: $border-radius-3;

    &:hover {
      background-color: $clr-base-24;
      cursor: pointer;
    }

    &:not(.about) {
      align-items: center
    }

  }

  .main-content {
    border-bottom: 1px solid $clr-base-22;
    margin: 0 6px 0 12px;
    padding: 12px 6px 8px 12px;

    h5 {
      font-weight: 500;
    }

    .board-image {
      width: em(18px);
      height: em(18px);
      border-radius: $border-radius-3;
      border: 1px solid $side-bar-image-border;
    }

    .activity-icon {
      @include trello-icon($icon-activity, $color: $clr-base-23);
      margin: 0;
      padding: 0;
    }
  }

  .color-choices {
    grid-template-columns: repeat(2, 1fr);
    column-gap: em(8px);

    button {
      width: 95%;
      @include btn-main();
      background-position: 50%;
  background-size: cover;

      &.checked {
        @include trello-icon($content: $icon-checked, $color: $clr-base-1);
      }

      height: 80px;
      margin:8px 8px 0 0px;
      border-radius: 8px;
    }
  }

  .activities-list {
    font-size: 14px;
    .by-member{
        font-weight: 700;
    }

    .activity-text{
        margin:0;
        padding: 0;
        display: inline;
    }
    .time-ago{
        color: $clr-dynamic-subtitle;
        font-size: 12px;
        margin: 0;
        display: block;
    }

    .activity-description{
        margin-block-end: 14px;
        margin-inline-start: 4px;
    }
    .member-profile {
        grid-column: 1;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 -1px 2px;
        cursor: pointer;        
      }
  }
}