.task-preview-cover {
  width: 100%;
  height: em(32px);
  border-radius: $border-radius-3 $border-radius-3 0 0;
}

.task-preview {
  background-color: $clr-base-1;
  border-radius: em(3px);
  box-shadow: $box-shadow-task-preview;
  color: $clr-base-5;
  cursor: pointer;
  display: block;
  margin-bottom: em(8px);
  max-width: em(300px);
  min-height: rem(32px);
  position: relative;
  z-index: 0;
  padding: em(6px) em(8px) em(2px) em(8px);

  &.with-cover {
    border-radius: 0 0 $border-radius-3 $border-radius-3;
  }

  &:hover {
    background-color: $clr-base-2;
  }

  .task-preview-labels {
    width: 100%;
    min-height: em(16px);
    display: flex;
    flex-wrap: wrap;
    gap: em(4px);
    margin: 0 0 em(4px);

    .task-preview-label {
      min-width: em(40px);
      min-height: em(8px);
      border-radius: 555px;
      margin: em(4px) 0;
      max-height: rem(8px);
      transition: min-width 0.22s ease-in, height 0.22s ease-in 0.28s;

      &.label-tag {
        max-height: rem(16px);
        min-width: rem(56px);
        border-radius: em(4px);
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        padding: 0 6px 0 16px;
        margin: 0;
      }
      &::before {
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
      }
    }
  }

  .task-preview-title {
    line-height: em(20px);
    font-size: em(14px);
    font-weight: 400;
    white-space: normal;
    margin: 0 0 em(4px);
  }
  .task-members {
    display: flex;

    .member-profile {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      margin: 0 2px 2px;
      cursor: pointer;
      position: relative;
    }
  }
}

.task-preview-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .action-badges {
    display: flex;
    align-items: center;
    margin-block: em(4px);
    width: em(26px);
    height: em(26px);

    & > * {
      margin-inline-end: em(13px);
      display: flex;
      align-items: center;
      color: $clr-base-4;
      span {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: em(12px);
        padding-inline-start: em(4px);
      }
    }

    .badge-watch {
      @include trello-icon($icon-eye, $color: $clr-base-4);
    }

    .badge-date {
      border-radius: $border-radius-3;
      color: $clr-base-1;
      height: rem(24px);
      font-size: rem(12px);
      // padding: rem(2px);
      padding: 0 rem(6px) 0 rem(2px);
      color: $clr-base-4;

      &:hover {
        background-color: $clr-base-3;
        span::before {
          content: $icon-empty-checked;
        }

        &.overdue {
          background-color: $clr-base-13;
        }
        &.closeToDate {
          background-color: $clr-base-21;
        }
        &.complete {
          span::before {
            content: $icon-full-checked;
          }
          background-color: $clr-base-18;
        }
      }

      span {
        @include trello-icon($icon-clock, $color: $clr-base-4);
        height: max-content;
        // font-size: 15px;
        padding: rem(4px) rem(2px) rem(2px) rem(2px);
        margin-inline-end: rem(2px);
      }

      &.closeToDate {
        background-color: $clr-dynamic-star;
        color: $clr-base-1;
        span::before {
          color: $clr-base-1;
        }
      }

      &.overdue {
        background-color: $clr-base-20;
        color: $clr-base-1;
        span::before {
          color: $clr-base-1;
        }
      }

      &.complete {
        background-color: $clr-base-17;
        color: $clr-base-1;
        span::before {
          color: $clr-base-1;
        }
      }
    }

    .badge-description {
      @include trello-icon($icon-description, $color: $clr-base-4);
    }

    .badge-attachments {
      @include trello-icon($icon-attachment, $color: $clr-base-4);
    }

    .badge-checklist {
      @include trello-icon($icon-checklist, $color: $clr-base-4);
    }
  }
}

.ghost-task {
  .tp {
    background-color: $clr-dynamic-button-highlighted;
    box-shadow: none;

    * {
      visibility: hidden;
    }
  }
}

.drag-task {
  .tp {
    transform: rotate(3deg);
  }
}
