.task-details {
  align-items: flex-start;
  background-color: $backdrop;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: scroll;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  cursor: default;

  .header {
    grid-column: 2/ -1;
    min-height: 32px;
    padding: 12px 40px 8px 0;
    position: relative;

    .icon-card {
      width: 100%;
      padding-inline-end: rem(10px);
      position: relative;

      @include trello-icon($icon-card, $type: lg);
      &::before {
        position: absolute;
        left: -35px;
        top: -1px;
      }
    }
    p {
      line-height: 1em;
      font-size: em(14px);
      color: $clr-base-4;
    }
  }

  textarea {
    color: $clr-base-5;
    background: #0000;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: rem(20px);
    font-weight: 600;
    height: em(32px);
    line-height: em(24px);
    margin: -4px -8px;
    padding: 4px 8px;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
    min-height: fit-content;

    &:focus {
      background-color: $clr-base-1;
      box-shadow: inset 0 0 0 2px $clr-base-8;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 46px 500px 192px;
    grid-template-rows: minmax(93px, auto) 1fr;
    margin: em(48px) 0 em(80px);
    width: rem(768px);
    background-color: $clr-base-2;
    min-height: 600px;
    overflow: visible;
    border-radius: 2px;
    position: relative;
    z-index: 25;

    .close {
      background-color: inherit;
      @include trello-icon($icon-close, $type: md);
      position: absolute;
      right: 0;
      border-radius: 50%;
      text-decoration: none;
      width: 40px;
      height: 40px;
      top: 4px;
      right: 4px;
      z-index: 2;

      &:hover {
        background-color: $clr-base-3-hover;
      }

      &::before {
        position: absolute;
        right: 10px;
        top: 4px;
      }
    }
  }
  .main-content {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 46px 492px;
    grid-auto-rows: max-content;
    margin: 0;
    min-height: 24px;
    padding: 0 8px 8px 0;
    & > *:not(.task-Checklist) {
      grid-column: 2;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 16px 8px 8px;
    gap: 8px;

    span {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    button.gear {
      @include trello-icon($icon-gear, $type: sm);
      background-color: $clr-base-3;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      position: relative;

      &::before {
        position: absolute;
        top: 2px;
        right: 2px;
      }
    }

    h3 {
      color: #5e6c84;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      line-height: 20px;
      margin-bottom: -4px;
      margin-top: 16px;
      font-family: 'Segoe UI';
    }

    .btn-link {
      font-family: 'Segoe UI';
      background-color: $clr-base-3;
      border: none;
      text-align: left;
      border-radius: 3px;
      box-shadow: none;
      box-sizing: border-box;
      color: $clr-dynamic-button-highlighted-text;
      cursor: pointer;
      display: block;
      height: 32px;
      margin-top: 8px;
      max-width: 300px;
      overflow: hidden;
      padding: 6px 12px;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      transition-duration: 85ms;
      transition-property: background-color, border-color, box-shadow;
      transition-timing-function: ease;
      white-space: nowrap;
      margin: 0;

      &:hover {
        background-color: $clr-base-3-hover;
      }

      &.member {
        @include trello-icon($icon-member, $type: sm);
      }

      &.label {
        @include trello-icon($icon-label, $type: sm);
      }

      &.checklist {
        @include trello-icon($icon-checklist, $type: sm);
      }

      &.clock {
        @include trello-icon($icon-clock, $type: sm);
      }

      &.attachment {
        @include trello-icon($icon-attachment, $type: sm);
      }

      &.card-cover {
        @include trello-icon($icon-card-cover, $type: sm);
      }

      &.archive {
        @include trello-icon($icon-archive, $type: sm);
      }
    }
  }
}
