.task-details {
  align-items: flex-start;
  background-color: $backdrop;
  display: flex;
  height: 100%;
  justify-content: center;
  // overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
  cursor: default;

  .task-darg-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $dragover-backdrop;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: em(20px);
    font-weight: 700;
    z-index: 50;
  }
  .header {
    grid-column: 2/ -1;
    min-height: 16px;
    padding: 12px 40px 8px 0;
    position: relative;

    .icon-card {
      width: 100%;
      padding-inline-end: rem(10px);
      position: relative;

      @include trello-icon($icon-card, $type: lg);
      &::before {
        position: absolute;
        left: -36px;
        top: -4px;
      }
    }
    p {
      line-height: 1em;
      font-size: em(14px);
      color: $clr-base-4;
      margin: 3px 0 calc(1em - 3px);
    }
  }

  textarea {
    color: $clr-base-5;
    background: #0000;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: rem(20px);
    font-weight: 600;
    height: 32px;
    line-height: em(24px);
    padding: 0 8px;
    margin: 0 -9px;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
    min-height: fit-content;

    &:focus {
      background-color: $clr-base-1;
      box-shadow: inset 0 0 0 2px $clr-base-8;
    }
  }

  .task-details-container {
    display: grid;
    grid-template-columns: 56px 1fr;
    background-color: $clr-base-2;
    overflow: visible;
    border-radius: 2px;
    position: relative;
    min-height: 100%;
    width: 100%;
    z-index: 25;

    .task-details-cover {
      grid-column: 1 / -1;
      width: 100%;
      min-height: em(116px);
      display: grid;
      place-content: end;
      padding: em(8px);
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
      .btn-card-cover {
        @include btn-main($close-cover, $bgc-hover: $close-cover-hover);
        align-items: center;
        padding: em(8px) em(15px) em(8px) em(8px);
        span {
          @include trello-icon($icon-card-cover, sm, $clr-base-5);
          margin-inline-end: 4px;
        }
      }
    }

    .close {
      background-color: inherit;
      @include trello-icon($icon-close, $type: md);
      position: absolute;
      right: 0;
      border-radius: 50%;
      text-decoration: none;
      width: 40px;
      height: 40px;
      top: 4px;
      right: 4px;
      z-index: 2;
      &.cover {
        background-color: $close-cover;
        &:hover {
          background-color: $close-cover-hover;
        }
      }
      &:hover {
        background-color: $clr-base-3-hover;
      }

      &::before {
        position: absolute;
        right: 10px;
        top: 4px;
      }
    }
  }

  .main-content {
    grid-column: span 2;
    display: grid;
    grid-template-columns: $task-details-content-grid;
    grid-auto-rows: max-content;
    margin: 0;
    min-height: 24px;
    padding: 0 8px 8px 0;
    & > *:not(.task-Checklist) {
      grid-column: 2;
    }
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 16px 8px 8px;

    & > :first-child {
      margin-top: 0;
    }

    span {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: em(14px);
      padding-inline-start: em(22px);
    }

    button.gear {
      @include trello-icon($icon-gear, $type: sm);
      background-color: $clr-base-3;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      position: relative;

      &::before {
        position: absolute;
        top: 2px;
        right: 2px;
      }
    }

    h3 {
      @include sub-title();
    }

    .btn-link {
      font-family: 'Segoe UI';
      background-color: $clr-base-3;
      text-align: left;
      border-radius: 3px;
      color: $clr-dynamic-button-highlighted-text;
      cursor: pointer;
      height: 32px;
      margin-top: 8px;
      max-width: 300px;
      padding: 6px 12px;
      position: relative;
      transition-duration: 85ms;
      transition-property: background-color, border-color, box-shadow;
      transition-timing-function: ease;
      white-space: nowrap;
      margin-top: em(8px);
      &:first-of-type {
        margin-top: em(6px);
      }
      &::before {
        position: absolute;
        left: 8px;
        top: 8px;
      }
      &:hover {
        background-color: $clr-base-3-hover;
      }

      &.member {
        @include trello-icon($icon-member, $type: sm);
      }

      &.label {
        @include trello-icon($icon-label, $type: sm);
      }

      &.checklist {
        @include trello-icon($icon-checklist, $type: sm);
      }

      &.clock {
        @include trello-icon($icon-clock, $type: sm);
      }

      &.attachment {
        @include trello-icon($icon-attachment, $type: sm);
      }

      &.card-cover {
        @include trello-icon($icon-card-cover, $type: sm);
      }

      &.archive {
        @include trello-icon($icon-archive, $type: sm);
      }
    }
  }

  @include mq(mq-780) {
    overflow: scroll;
    .task-details-container {
      // overflow-y: scroll;
      grid-template-columns: 56px 520px 192px;
      grid-template-rows: auto minmax(93px, auto) 1fr;
      width: rem(768px);
      height: fit-content;
      margin: em(48px) 0 em(80px);
      min-height: 600px;
    }
    .header {
      min-height: 32px;
      padding: 24px 40px 8px 0;
    }
    .main-content {
      grid-template-columns: 56px 1fr;
      padding: 0;
    }
    
  }

}
