.task-head-tags {
  margin-bottom: em(8px);

  h3.title {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    font-family: 'Segoe UI';
  }
  .notifications{
    @include btn-main()

  }
}
