.task-details {
    align-items: flex-start;
    background-color: $backdrop;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

     .container {
        display: grid;
        grid-template-columns: 1fr 186px;
        grid-template-rows: minmax(93px, fit-content) 1fr;
        margin: 48px 0 80px;
        width: rem(768px);
        background-color: $clr-base-2;
        min-height: 600px;
        overflow: visible;
        border-radius: 2px;
        position: relative;
        z-index: 25;
    }

     .sidebar {
        flex-direction: column;
        gap: 8px;

         h3 {
            color: var(--ds-text-subtle, #5e6c84);
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            line-height: 20px;
            margin-bottom: -4px;
            margin-top: 16px;
            font-family: 'Segoe UI';

        }

         .button-link {
            font-family: 'Segoe UI';
            background-color: $clr-base-3;
            border: none;
            text-align: left;
            border-radius: 3px;
            box-shadow: none;
            box-sizing: border-box;
            color: $clr-dynamic-button-highlighted-text;
            cursor: pointer;
            display: block;
            height: 32px;
            margin-top: 8px;
            max-width: 300px;
            overflow: hidden;
            padding: 6px 12px;
            position: relative;
            text-decoration: none;
            text-overflow: ellipsis;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;
            -webkit-user-select: none;
            user-select: none;
            white-space: nowrap;
            margin: 0;
        }
    }

     .header {
        grid-column: 1/ -1;
        min-height: 32px;
        padding: 12px 40px 8px 56px;
    }

     textarea {
        background: #0000;
        border-radius: 3px;
        box-shadow: none;
        font-size: 20px;
        font-weight: 600;
        height: 32px;
        line-height: 24px;
        margin: -4px -8px;
        min-height: 24px;
        padding: 4px 8px;
        resize: none;
        overflow: hidden;
        overflow-wrap: break-word;
        min-height: 32px;
        height: fit-content;

        &:focus {
            background-color: $clr-base-1;
            box-shadow: inset 0 0 0 2px var(--ds-border-focused, #0079bf);
        }
    }
}