.task-head-tags {
  margin-bottom: em(24px);
  display: flex;
  gap: em(7px);

  .member-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 0 2px;
  }

  .head-labels, .head-members {
    display: flex;
    gap: em(2px);
  }

  h3.title {
    color: #5e6c84;
    font-size: em(12px);
    font-weight: 600;
    line-height: em(16px);
    line-height: em(20px);
    margin-bottom: 4px;
    font-family: 'Segoe UI';
  }
  .notifications {
    display: flex;
    align-items: center;
    @include btn-main();
    span {
      @include trello-icon($icon-eye);
      margin-inline-end: 5px;
    }
  }
}
