.task-head-tags {
  margin-bottom: em(24px);
  display: flex;
  gap: em(7px);

  .member-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 0 2px;
  }

  .head-labels,
  .head-members {
    display: flex;
    gap: em(2px);
  }

  h3.title {
    color: #5e6c84;
    font-size: em(12px);
    font-weight: 600;
    line-height: em(16px);
    line-height: em(20px);
    margin-bottom: 4px;
    font-family: 'Segoe UI';
  }
  .notifications {
    display: flex;
    align-items: center;
    @include btn-main();
    .eye-icon {
      @include trello-icon($icon-eye);
      margin-inline-end: 5px;
    }
  }

  .date-tag {
    // flex-direction: column;
    .btn-is-complete {
      cursor: pointer;
      height: 1rem;
      width: 1rem;
      padding: 0;
      background-color: $input-bgc;
      border-radius: rem(2px);
      box-shadow: inset 0 0 0 rem(2px) $clr-dynamic-button-highlighted;
      margin: auto rem(4px) auto 0;

      &:hover {
        background-color: $clr-base-3;
        &.checked {
          background-color: $clr-label-blue;
          box-shadow: inset 0 0 0 em(2px) $clr-label-blue;
        }
      }

      &.checked {
        background-color: $clr-base-11;
        box-shadow: inset 0 0 0 em(2px) $clr-base-11;
        @include trello-icon($icon-checked, $color: $clr-base-1);
        font-size: 1em;
      }
    }

    .complete-label {
      background-color: $clr-base-16;
      color: $clr-base-1;
      font-size: rem(12px);
      line-height: rem(16px);
      padding: 0 rem(4px);
      border-radius: rem(2px);
      margin: auto 0 auto rem(8px);
    }
  }
}
