* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr1;
//     color: $clr6;
// }

html {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(16px);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
}

::-webkit-scrollbar {
    position: fixed;
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 555px;
    background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
    border-radius: 555px;
    background: $scrollbar-piece;
}

::-webkit-scrollbar-button {
    width: 24px;
}

// section, main, footer {
//     padding: 5px;
// }

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
    max-width: 40ch;

}

a {
    text-decoration: none;
}

// a:hover {
//     text-decoration: underline;
// }


textarea {
    width: 100%;
    background-color:#fafbfc;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px  #dfe1e6;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    resize: none;

    &:focus {
        overflow: hidden;
        overflow-wrap: break-word;
        background-color: #fff;
        box-shadow: inset 0 0 0 2px $clr-base-8;
    }
}