// Font Sizes
.fs12 {
  font-size: rem(12px);
}

.fs14 {
  font-size: rem(14px);
}

.fs18 {
  font-size: rem(18px);
}

.fs20 {
  font-size: rem(20px);
}

.fs24 {
  font-size: rem(24px);
}

.fs28 {
  font-size: rem(28px);
}

.fs30 {
  font-size: rem(30px);
}

.text-center {
  text-align: center;
}

//list
.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }
}

/* GRID  */

.grid {
  display: grid;
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}

.video-ratio {
  @include aspect-ratio(16, 9);
}

.portrait-ratio {
  @include aspect-ratio(9, 16);
}

.check-box {
  justify-self: center;
  margin-inline-end: em(6px);
  box-shadow: $box-shadow-checkbox;
  height: em(16px);
  width: em(16px);
  position: relative;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transition: 0.5s;
  &.checked {
    background-color: $clr-base-8;
    box-shadow: none;
    @include trello-icon($icon-checked, $color: $clr-base-1);
    &::before {
      position: absolute;
      height: em(16px);
      width: em(16px);
      top: -6px;
    }
  }
  &:active {
    box-shadow: $box-shadow-checkbox-active;
  }
}

// labels

.label-tag {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  border-radius: 3px;
  padding: 0 12px 0 32px;
  max-width: 100%;
  min-width: 48px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }
  // label colors
  &.green {
    @include label-tag-color($clr-label-green);
  }
  &.light-green {
    @include label-tag-color($clr-label-light-green);
  }
  &.dark-green {
    @include label-tag-color($clr-label-dark-green);
  }
  &.yellow {
    @include label-tag-color($clr-label-yellow);
  }
  &.light-yellow {
    @include label-tag-color($clr-label-light-yellow);
  }
  &.dark-yellow {
    @include label-tag-color($clr-label-dark-yellow);
  }
  &.orange {
    @include label-tag-color($clr-label-orange);
  }
  &.light-orange {
    @include label-tag-color($clr-label-light-orange);
  }
  &.dark-orange {
    @include label-tag-color($clr-label-dark-orange);
  }
  &.red {
    @include label-tag-color($clr-label-red);
  }
  &.light-red {
    @include label-tag-color($clr-label-light-red);
  }
  &.dark-red {
    @include label-tag-color($clr-label-dark-red);
  }
  &.purple {
    @include label-tag-color($clr-label-purple);
  }
  &.light-purple {
    @include label-tag-color($clr-label-light-purple);
  }
  &.dark-purple {
    @include label-tag-color($clr-label-dark-purple);
  }
  &.blue {
    @include label-tag-color($clr-label-blue);
  }
  &.light-blue {
    @include label-tag-color($clr-label-light-blue);
  }
  &.dark-blue {
    @include label-tag-color($clr-label-dark-blue);
  }
  &.sky {
    @include label-tag-color($clr-label-sky);
  }
  &.light-sky {
    @include label-tag-color($clr-label-light-sky);
  }
  &.dark-sky {
    @include label-tag-color($clr-label-dark-sky);
  }
  &.lime {
    @include label-tag-color($clr-label-lime);
  }
  &.light-lime {
    @include label-tag-color($clr-label-light-lime);
  }
  &.dark-lime {
    @include label-tag-color($clr-label-dark-lime);
  }
  &.pink {
    @include label-tag-color($clr-label-pink);
  }
  &.light-pink {
    @include label-tag-color($clr-label-light-pink);
  }
  &.dark-pink {
    @include label-tag-color($clr-label-dark-pink);
  }
  &.black {
    @include label-tag-color($clr-label-black);
  }
  &.light-black {
    @include label-tag-color($clr-label-light-black);
  }
  &.dark-black {
    @include label-tag-color($clr-label-dark-black);
  }
}
