/* Breakpoint mixins */

@use 'sass:map';

$breakpoints: (
  small: 40em,
  medium: 65em,
  large: 90em,
  homePageHeader: em(1320px),
  homePageMain1: em(1000px),
  homePageMain2: em(1200px),
  boardIndexBreak1: em(900px),
  boardIndexBreak2: em(750px),
  mq-Board-index: em(825px),
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}

@mixin for-mobile-layout {
  @media (max-width: calc($mobile-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: calc($mobile-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: calc($narrow-breakpoint + 40px)) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: calc($normal-breakpoint + 40px)) {
    @content;
  }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  // overflow: hidden;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin trello-icon($content: '', $type: sm, $color: #42526e) {
  font-family: 'trellicons';
  color: $color;

  @if $type ==sm {
    font-size: 1rem;
  } @else if $type ==md {
    font-size: 1.25rem;
  } @else if $type ==lg {
    font-size: 1.5rem;
  }

  &::before {
    content: $content;
  }
}

@mixin TaskDetailsCmps($content: '') {
  margin-bottom: $cmp-margin-bottom;
  position: relative;

  .icon {
    @include trello-icon($content, $type: lg);

    &::before {
      position: absolute;
      left: -36px;
      top: 3px;
      font-weight: 400;
    }
  }

  .title {
    font-size: rem(16px);
    font-weight: 600;
    margin-bottom: rem(18px);
  }
}

@mixin btn-main($bgc: $clr-base-3, $color: $clr-base-5, $bgc-hover: $clr-base-3-hover) {
  background-color: $bgc;
  color: $color;
  margin: 0;
  padding: 6px 12px;
  border-radius: 3px;
  height: 32px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &:hover {
    background-color: $bgc-hover;
  }
}

@mixin label-tag-color($color) {
  background-color: $color;
  &:hover {
    background-color: darken($color, 15%);
    &::before {
      background-color: darken($color, 35%);
    }
  }
  &::before {
    background-color: darken($color, 20%);
  }
}

@mixin btn() {
  height: 100%;
  width: rem(72px);
  margin: 0 rem(8px) 0 0;
  border-radius: $border-radius-3;
  background-color: $clr-base-8;
  cursor: pointer;
}

@mixin input() {
  width: 100%;
  height: rem(36px);
  padding: rem(12px);
  background-color: $input-bgc;
  border: $input-border;
  border-radius: $border-radius-3;
  outline: none;

  &:hover:not(:focus-visible) {
    background-color: $clr-base-3-hover;
  }

  &:focus {
    border: none;
    box-shadow: inset 0 0 0 1px $clr-base-8;
  }
}

@mixin left-side-bar() {
}

@mixin sub-title() {
  color: $clr-base-4;
  font-size: em(12px);
  font-weight: 600;
  line-height: em(16px);
  line-height: em(20px);
  margin-top: em(16px);
  font-family: 'Segoe UI';
}
