// @font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// }

@font-face {
    font-family: charlie;
    src: url(../../fonts/Charlie_Text-Regular.woff2);
}
@font-face {
    font-family: icomoon;
    src: url(../../fonts/main-font.ttf);
}