// @font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// }

@font-face {
    font-family: Charlie;
    src: url('../../assets/fonts/Charlie_Display-Semibold.woff2');
}
@font-face {
    font-family: icomoon;
    src: url(../../fonts/main-font.ttf);
}
@font-face {
    font-family: trellicons;
    src: url(src/assets/fonts/trellicons.ttf);
}