// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #0065FF; //HomePage Hover Color

// Labels Colors
$clr-label-light-green: #B7DDB0;
$clr-label-green: #7BC86C;
$clr-label-dark-green: #5AAC45;

$clr-label-light-yellow: #F5EA92;
$clr-label-yellow: #F5DD28;
$clr-label-dark-yellow: #E6C60E;

$clr-label-light-orange: #FAD29C;
$clr-label-orange: #F8AF3F;
$clr-label-dark-orange: #E79218;

$clr-label-light-red: #EFB3AB;
$clr-label-red: #EF7564;
$clr-label-dark-red: #CF503D;

$clr-label-light-purple: #DFC0EB;
$clr-label-purple: #CD8DE5;
$clr-label-dark-purple: #A86CC1;

$clr-label-light-blue: #8BBDD9;
$clr-label-blue: #5BA4CF;
$clr-label-dark-blue: #236AA7;

$clr-label-light-sky: #8FDFEB;
$clr-label-sky: #44CCE5;
$clr-label-dark-sky: #39AECC;

$clr-label-light-lime: #B3F1D0;
$clr-label-lime: #6DECA9;
$clr-label-dark-lime: #4ED583;

$clr-label-light-pink: #F9C2E4;
$clr-label-pink: #F88ED4;
$clr-label-dark-pink: #E568AF;

$clr-label-light-black: #505E79;
$clr-label-black: #344563;
$clr-label-dark-black: #091E42;


// Base Colors
$clr-base-1: #FFFFFF;
$clr-base-2: #F4F5F7; // <TaskDetails> bgc
$clr-base-3: #EBECF0; // card bgc + <TaskDetails buttons>
$clr-base-3-hover: #091e4214; // <TaskDetails buttons>
$clr-base-4: #5E6C84; // sub font color
$clr-base-5: #172B4D; // font color
$clr-base-6: #2979BF; // add a card bgc
$clr-base-7: #DE350B; // notification color
$clr-base-8: #0079bf; // notification color
$clr-base-8-hover: #026aa7; // notification color



// Dynamic Color
$clr-dynamic-button: rgba(255, 255, 255, 0.2);
$clr-dynamic-button-hovered: rgba(255, 255, 255, 0.3);
$clr-dynamic-button-pressed: rgba(255, 255, 255, 0.4);
$clr-dynamic-button-highlighted: #DFE1E6;
$clr-dynamic-button-highlighted-text: #172B4D;
$clr-dynamic-button-highlighted-hovered: #FFFFFF;
$clr-dynamic-star: #F2D600;
$clr-dynamic-icon: #FFFFFF;
$clr-dynamic-text: #FFFFFF;
$clr-dynamic-text-transparent: hsla(0, 0%, 100%, 0.16);

// Trello Workspace logo
$clr-trello-workspace-logo : linear-gradient(#1C6543, #268558);

// box shadow
$box-shadow-task-preview: 0 1px 0 #091e4240;

// draggable
$placeholder-bgc:#0000001f;



:root {
    --bgc-board-details: #9ea8ba;
}


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// task details
$backdrop: rgb(0 0 0 / 14%);

// border radius
$border-radius-3: 3px;


// icons
$icon-member: "\e946";
$icon-label: "\e93f";
$icon-checklist: "\e91a";
$icon-attachment: "\e908";
$icon-plus: "\e901";
$icon-arrow-right: "\e94a";
$icon-copy: "\e91f";
$icon-share: "\e963";
$icon-description: "\e922";
$icon-activity: "\e900";
$icon-archive: "\e907";
$icon-card: "\e912";
$icon-card-cover: "\e914";
$icon-gear: "\e932";
$icon-eye: "\e969";
$icon-comment: "\e91e";
$icon-clock: "\e91b";
$icon-star: "\e966";
$icon-full-star: "\e967";
$icon-two-members: "\e951";
$icon-three-dots: "\e952";
$icon-lighting-bolt: "\e909";
$icon-power-up: "\e956";
$icon-close: "\e91c";


// scrollbar
$scrollbar-track: #091e4214;
$scrollbar-piece: #00000026;


// <TaskDetails> :
$cmp-margin-left: 40px;
$cmp-margin-bottom: 24px;